<button
  [class]="
    tailwindMerge([
      'flex w-full flex-1 flex-col items-center justify-center gap-4 px-8 py-3 text-center text-sm sm:flex-row sm:justify-between sm:px-2 sm:py-4 sm:text-left sm:text-xl',
      currentLanguage === language() ? 'active' : '',
    ])
  "
  (click)="changeLanguage(language())"
  class="group"
>
  {{ langTitle() }}
  <span class="size-6 overflow-hidden rounded-full md:size-10">
    <app-flags
      [name]="language()"
      className="size-6 md:size-10 transition-transform group-hover:rotate-12"
    />
  </span>
</button>
