<div
  popover="auto"
  id="options-menu"
  class="bg-bg-links-header/95 text-fg-links-header rounded-header-links sm:shadow-header-links relative w-full max-w-xs flex-col gap-1 p-2 text-base not-sm:flex sm:fixed sm:mt-4 sm:text-xl sm:open:flex [&>button]:flex [&>button]:w-full [&>button]:items-center [&>button]:justify-between [&>button]:gap-4 [&>button]:px-2 [&>button]:py-4 [&>button]:sm:mx-3 [&>button>span]:transition-transform [&>button>span]:group-hover:rotate-12"
>
  <button id="change-translation" class="group" popovertarget="languages">
    {{ optionsTranslated().translate.name }}
    <span>
      <app-icons name="translate" className="size-6 md:size-10"></app-icons>
    </span>
  </button>
  <div
    id="languages"
    popover
    class="bg-bg-links-header/95 text-fg-links-header rounded-header-links shadow-header-links fixed mx-5 my-8 w-full max-w-45 flex-col gap-2 overflow-hidden py-2 open:flex sm:mx-3 sm:my-0 sm:max-w-55 sm:px-3 md:max-w-2xs"
  >
    @for (lang of translateButtonsAttributes(); track lang) {
      <app-language-btn
        [langTitle]="lang.languageName"
        [language]="lang.language"
      ></app-language-btn>
    }
  </div>
  <a
    id="print-cv"
    href="/cvs/cv-english.pdf"
    class="group hover:shadow-header-links flex w-full items-center justify-between rounded-full px-2 py-4 transition-shadow sm:px-8"
  >
    {{ optionsTranslated().cv.name }}
    <span class="transition-transform group-hover:rotate-12">
      <app-icons name="cv" className="size-6 md:size-10"></app-icons>
    </span>
  </a>
  <button id="toggle-theme" class="group peer" popovertarget="themes">
    {{ optionsTranslated().theme.name }}
    <app-icons
      name="selector"
      className="size-4 md:size-8 rotate-90 transition-transform group-[:has(+_#themes:hover,+_#themes:popover-open)]:rotate-180"
    />
  </button>
  <div
    id="themes"
    popover
    class="bg-bg-links-header/95 text-fg-links-header rounded-header-links shadow-header-links fixed mx-5 my-8 w-full max-w-40 flex-col gap-2 py-2 open:flex sm:mx-3 sm:my-0 sm:max-w-65 sm:gap-2 sm:px-3 md:max-w-2xs"
  >
    @for (theme of themeButtonsAttributes(); track $index) {
      <app-theme-btn
        [theme]="theme.theme"
        [themeName]="theme.themeName"
        [className]="theme.theme === 'dark' ? '[&>g>path]:stroke-fg-links-header' : ''"
      />
    }
  </div>
</div>
