<header
  class="bg-header-and-footer/15 text-fg-links-header fixed top-0 right-0 left-0 z-999 px-2 text-2xl backdrop-blur-2xl backdrop-brightness-50"
>
  <nav class="relative flex size-full flex-row justify-between sm:items-center sm:justify-center">
    <button
      popovertarget="header-links"
      class="group hover:shadow-header-links active:shadow-header-links mx-4 cursor-pointer self-center rounded-full p-3 transition-shadow sm:hidden"
    >
      <svg
        fill="none"
        class="size-10 transform hover:cursor-pointer [&>path]:transition-[0.35s_cubic-bezier(0.4,0,0.2,1),opacity_0.25s_ease]"
        viewBox="0 0 24 24"
      >
        <path
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="2"
          style="transform-origin: 12px 6px"
          d="M4 6h16"
          class="l1"
        />
        <path
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="2"
          style="transform-origin: 12px 12px"
          d="M4 12h16"
          class="l2"
        />
        <path
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="2"
          style="transform-origin: 12px 18px"
          d="M4 18h16"
          class="l3"
        />
      </svg>
    </button>
    <div
      class="peer bg-bg-links-header/95 rounded-header-links shadow-header-links fixed mx-2 my-18 w-full max-w-44 px-2 py-1 transition-transform sm:relative sm:m-0 sm:flex sm:w-full sm:bg-transparent sm:shadow-none"
      popover
      id="header-links"
    >
      <ul
        class="text-fg-links-header [&>li>a,button]:hover:shadow-header-links [&>li>a,button]:active:shadow-header-links flex h-full w-full flex-col flex-wrap justify-center sm:visible sm:flex-row sm:text-white lg:justify-evenly [&>li]:my-1 [&>li]:sm:my-0 [&>li>a]:flex [&>li>a]:items-center [&>li>a]:px-3 [&>li>a]:py-2 [&>li>a]:text-base [&>li>a]:sm:py-3 [&>li>a]:lg:text-[26px] [&>li>a,button]:relative [&>li>a,button]:h-full [&>li>a,button]:w-full [&>li>a,button]:cursor-pointer [&>li>a,button]:rounded-full [&>li>a,button]:transition-shadow [&>li>a,button]:sm:m-0 [&>li>a,button]:sm:px-8"
      >
        <li><a href="#about">Sobre mí</a></li>
        <li><a href="#projects">Proyectos</a></li>
        <li><a href="#experience">Experiencia</a></li>
        <li><a href="#contact">Contacto</a></li>
        <li class="mx-auto h-px w-11/12 rounded-full bg-gray-400 sm:hidden"></li>
        <li
          class="group z-50 hidden self-center justify-self-center sm:flex md:justify-self-end"
          id="options-button"
        >
          <button class="my-0 py-2" id="options-btn" popovertarget="options-menu">
            <app-icons
              name="options"
              className="size-8 md:size-10 group-[:has(+_li>div:popover-open)]:rotate-45 transition-transform"
            />
          </button>
        </li>
        <li>
          <div
            popover="auto"
            id="options-menu"
            class="sm:text-md bg-bg-links-header/95 text-fg-links-header rounded-header-links sm:shadow-header-links relative w-full max-w-xs flex-col gap-1 p-2 text-base not-sm:flex sm:fixed sm:mt-4 sm:open:flex [&>button]:flex [&>button]:w-full [&>button]:items-center [&>button]:justify-between [&>button]:gap-4 [&>button]:px-2 [&>button]:py-4 [&>button]:sm:mx-3 [&>button>span]:transition-transform [&>button>span]:group-hover:rotate-12"
          >
            <button id="change-translation" class="group">
              Traducir
              <span>
                <app-icons name="translate" className="size-6 md:size-10"></app-icons>
              </span>
            </button>
            <a
              id="print-cv"
              href="/cvs/cv-english.pdf"
              class="group hover:shadow-bg-links-header flex w-full items-center justify-between px-2 py-4 transition-shadow sm:px-8"
            >
              Mirá mi CV
              <span>
                <app-icons name="print-cv" className="size-6 md:size-10"></app-icons>
              </span>
            </a>
            <button id="toggle-theme" class="group peer" popovertarget="themes">
              Tema
              <app-icons
                name="selector"
                className="size-4 md:size-8 rotate-90 transition-transform group-[:has(+_#themes:hover,+_#themes:popover-open)]:rotate-180"
              />
            </button>
            <div
              id="themes"
              popover
              class="bg-bg-links-header/95 text-fg-links-header rounded-header-links shadow-header-links fixed mx-5 my-8 w-full max-w-40 flex-col items-center justify-center py-2 open:flex sm:mx-3 sm:my-0 sm:gap-2 sm:px-3 md:max-w-2xs [&>button]:flex [&>button]:flex-col [&>button]:items-center [&>button]:justify-center [&>button]:px-8 [&>button]:py-3 [&>button]:text-center [&>button]:text-sm [&>button]:sm:flex-row [&>button]:sm:justify-between [&>button]:sm:px-2 [&>button]:sm:py-4 [&>button]:sm:text-left"
            >
              <button (click)="changeTheme('system')" class="group">
                Ajuste del dispositivo
                <app-icons
                  name="sistem-config-theme"
                  className="size-6 md:size-10 transition-transform group-hover:-rotate-12"
                />
              </button>
              <button (click)="changeTheme('dark')" class="group">
                Oscuro
                <app-icons
                  name="moon"
                  className="size-6 md:size-10 [&>g>path]:stroke-fg-links-header transition-transform group-hover:-rotate-12"
                />
              </button>
              <button (click)="changeTheme('light')" class="group">
                Claro
                <app-icons
                  name="sun"
                  className="size-6 md:size-10 transition-transform group-hover:-rotate-12"
                />
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
