<header
  class="backdrop-blur-2xl backdrop-brightness-50 bg-black/15 text-white fixed px-2 top-0 right-0 left-0 text-2xl z-999 "
>
  <nav class="size-full flex justify-between flex-row sm:justify-center sm:items-center relative">
    <button
      /* (click)="toggleBurguerMenu()"
      (click)="showAndHideLinks()" */
      popovertarget="header-links"
      class="self-center transition-shadow hover:shadow-[4px_6px_20px_black,2px_4px_15px_-10px_#cdcdcddf_inset] active:shadow-[4px_6px_20px_black,2px_4px_15px_-10px_#cdcdcddf_inset] rounded-full p-3 mx-4 cursor-pointer sm:hidden"
    >
      <svg viewBox="0 0 24 24" fill="none" class="menu-icon size-10 peer-[:has(:popover-open)]:open">
        <path
          class="line l1"
          d="M4 6H20"
          stroke="#ffffff"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          class="line l2"
          d="M4 12H20"
          stroke="#ffffff"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          class="line l3"
          d="M4 18H20"
          stroke="#ffffff"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </button>
    <div
      class="peer fixed mx-4 bg-[light-dark(var(--header-links-and-options-bg-color-light),var(--header-links-and-options-bg-color-dark))]/95 my-22 rounded-[20px] px-2 py-1 transition-transform shadow-[4px_6px_20px_black,2px_4px_15px_-10px_#cdcdcddf_inset] sm:bg-transparent sm:m-0 sm:flex sm:w-full sm:relative sm:shadow-none"
      popover
      id="header-links"
    >
      <ul
        class="flex flex-wrap h-full justify-center lg:justify-evenly w-full sm:visible text-white sm:flex-row flex-col [&>li]:my-1 [&>li]:sm:my-0 [&>li>a,button]:transition-shadow [&>li>a]:flex [&>li>a,button]:sm:m-0 [&>li>a,button]:hover:shadow-[4px_6px_20px_black,2px_4px_15px_-10px_#cdcdcddf_inset] [&>li>a,button]:active:shadow-[4px_6px_20px_black,2px_4px_15px_-10px_#cdcdcddf_inset] [&>li>a,button]:h-full [&>li>a,button]:rounded-full [&>li>a]:px-3 [&>li>a,button]:relative [&>li>a,button]:w-full [&>li>a]:py-2 [&>li>a]:sm:py-3 [&>li>a,button]:sm:px-8 [&>li>a,button]:cursor-pointer [&>li>a]:text-xl [&>li>a]:lg:text-[26px]"
      >
        <li><a href="#about">Sobre mí</a></li>
        <li><a href="#projects">Proyectos</a></li>
        <li><a href="#experience">Experiencia</a></li>
        <li><a href="#contact">Contacto</a></li>
        <li class="sm:hidden w-11/12 mx-auto rounded-full h-px bg-gray-400"></li>
        <li
          class="hidden sm:flex justify-self-center md:justify-self-end self-center z-50"
          id="options-button"
        >
          <button class="my-0 py-2" popovertarget="options-menu">
            <app-icons name="options" className="size-8 md:size-10" />
          </button>
        </li>
        <li>
          <div
            popover="auto"
            id="options-menu"
            class="not-sm:flex max-w-xs p-2 w-full sm:open:flex static sm:fixed bg-[#19021c]/95 text-white rounded-[20px] sm:mt-4 flex-col gap-1 text-lg sm:text-md [&>button]:flex [&>button]:gap-6 [&>button]:justify-between [&>button]:w-full [&>button]:sm:mx-3 [&>button]:px-2 [&>button]:py-4 [&>button]:items-center [&>button>span]:group-hover:rotate-12 [&>button>span]:transition-transform sm:shadow-[4px_6px_20px_black,2px_4px_15px_-10px_#cdcdcddf_inset]"
          >
            <button id="change-translation" class="group">
              Traducir
              <span>
                <app-icons name="translate" className="size-6 md:size-10"></app-icons>
              </span>
            </button>
            <button id="print-cv" class="group">
              Descargar CV
              <span>
                <app-icons name="print-cv" className="size-6 md:size-10"></app-icons>
              </span>
            </button>
            <button id="toggle-theme" class="group peer" popovertarget="themes">
              Cambiar tema
              <app-icons
                name="selector"
                className="size-4 md:size-8 rotate-90 transition-transform group-[:has(+_#themes:hover,+_#themes:popover-open)]:rotate-180"
              />
            </button>
            <div
              id="themes"
              popover
              class="px-2 sm:px-3 md:max-w-2xs max-w-3xs open:flex flex-col sm:gap-2 w-full bg-[#19021c]/95 text-white shadow-[4px_6px_20px_black,2px_4px_15px_-10px_#cdcdcddf_inset] rounded-[20px] sm:my-4 py-2 [&>button]:text-lg [&>button]:text-left [&>button]:flex [&>button]:justify-between [&>button]:px-4 [&>button]:py-4 [&>button]:sm:px-2 [&>button]:sm:py-4 [&>button]:items-center"
            >
              <button>
                Ajuste del dispositivo
                <app-icons name="sistem-config-theme" className="size-6 md:size-10" />
              </button>
              <button (click)="changeTheme('dark')">
                Oscuro <app-icons name="moon" className="size-6 md:size-10" />
              </button>
              <button (click)="changeTheme('light')">
                Claro <app-icons name="sun" className="size-6 md:size-10" />
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <span
      class="sm:hidden visible self-center flex mx-4 [&>a]:transition-shadow [&>a]:hover:shadow-[4px_6px_20px_black,2px_4px_15px_-10px_#cdcdcddf_inset] [&>a]:active:shadow-[4px_6px_20px_black,2px_4px_15px_-10px_#cdcdcddf_inset] [&>a]:rounded-full [&>a]:p-4"
    >
      <button
        id="options"
        class="w-40 h-10 rounded-full py-2 px-4 [&>option]:rounded-full [&>option]:py-2 [&>option]:text-black"
      ></button>
    </span>
  </nav>
</header>
