@property --animation-per-scroll-range {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 10%;
}

@property --header-padding-block-initial {
  syntax: '<length>';
  inherits: false;
  initial-value: 2dvw;
}

@property --header-padding-block-final {
  syntax: '<length>';
  inherits: false;
  initial-value: 1dvw;
}

@property --anchor-padding-block-initial {
  syntax: '<length>';
  inherits: false;
  initial-value: 2dvw;
}

@property --anchor-padding-block-final {
  syntax: '<length>';
  inherits: false;
  initial-value: 1.25dvw;
}

@keyframes header-animation {
  from {
    margin-top: 0;
    margin-inline: 0;
    border-radius: 0;
    backdrop-filter: brightness(50%) blur(10px);
    padding-block: var(--header-padding-block-initial);
  }

  to {
    margin-top: 8px;
    margin-inline: 16px;
    border-radius: 30px;
    backdrop-filter: brightness(50%) blur(10px);
    box-shadow: var(--header-shadow);
    padding-block: var(--header-padding-block-final);
  }
}

@keyframes header-anchor-animation {
  from {
    padding-block: var(--anchor-padding-block-initial);
  }

  to {
    padding-block: var(--anchor-padding-block-final);
  }
}

header {
  animation: header-animation linear forwards;
  animation-range-end: var(--animation-per-scroll-range);
  animation-timeline: scroll(block root);

  nav {
    div {
      ul {
        li {
          a,
          #options-btn {
            animation: header-anchor-animation linear forwards;
            animation-range-end: var(--animation-per-scroll-range);
            animation-timeline: scroll(block root);
            transition: box-shadow 0.2s ease-in-out;
          }
        }
      }
    }
  }
}

.group:has(+ .peer:popover-open) {
  .l1 {
    transform: translateY(6px) rotate(45deg);
  }
  .l2 {
    opacity: 0;
    transform: scaleX(0);
  }
  .l3 {
    transform: translateY(-6px) rotate(-45deg);
  }
}

@position-try --monitor-media {
  /* top: anchor(top);
  right: anchor(left); */
  position-area: center left;
}

@position-try --phone-media {
  /* top: anchor(bottom);
  left: anchor(right); */
  position-area: center right;
}

#options-button,
#toggle-theme {
  anchor-scope: unset;
}

#options-button {
  anchor-name: --options-button;
}

#toggle-theme {
  anchor-name: --change-theme;
}

#options-menu,
#themes {
  inset: unset;
}

#options-menu {
  position-area: bottom;
  position-anchor: --options-button;
}

#themes {
  position-anchor: --change-theme;
  top: anchor(center);
  right: anchor(left);
}

@media screen and (width <= 650px) {
  #themes {
    left: anchor(right);
    position-area: center right;
  }
}

@media screen and (660px <= width <= 840px) {
  #themes {
    margin-block: 10px;
    top: anchor(bottom);
    left: anchor(center);
    right: anchor(center);
    position-area: center bottom;
  }
}
