<header
  class="backdrop-blur-2xl backdrop-brightness-50 bg-black/15 text-white fixed px-2 top-0 right-0 left-0 text-2xl z-999"
>
  <nav class="w-full flex justify-center items-center">
    <ul
      class="flex flex-wrap justify-evenly w-full [&>li>a]:hover:shadow-[4px_6px_20px_black,2px_4px_15px_-10px_#cdcdcddf_inset] [&>li>a]:h-full [&>li>a]:rounded-full [&>li>a]:py-5 [&>li>a]:px-8 [&>li>a]:cursor-pointer [&>li>a]:text-xl [&>li>a]:lg:text-[26px]"
    >
      <li><a href="#about">Sobre mí</a></li>
      <li><a href="#experience">Experiencia</a></li>
      <li><a href="#projects">Proyectos</a></li>
      <li><a href="#contact">Contacto</a></li>
    </ul>
  </nav>
</header>
