<main class="h-full text-white w-full">
  <app-about></app-about>
  <app-experience></app-experience>
  <app-projects></app-projects>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem laboriosam quis eius odio
  necessitatibus quidem doloribus, minus est rem expedita aspernatur magnam voluptate beatae, vel,
  perferendis neque. Debitis, at exercitationem. Commodi ducimus unde harum, nisi, veniam iure
  magnam reprehenderit tempore, ab debitis nulla temporibus? Natus consectetur eum ut neque
  accusantium animi laudantium eligendi repellendus quaerat, non dolore commodi vitae sequi. Eos,
  incidunt officia recusandae qui doloribus possimus doloremque ipsa neque asperiores aliquid
  voluptatem, hic saepe quo! Labore debitis, facere dolores architecto enim doloremque dignissimos
  obcaecati! Distinctio suscipit at iure commodi? Dolor temporibus tenetur aperiam a, quibusdam
  fugit repudiandae illum vitae, molestias dolorem laborum unde culpa ullam illo corrupti enim cum
  voluptatum animi distinctio repellat nostrum. Delectus nihil numquam architecto odio. Dolor
  aspernatur soluta molestiae delectus dignissimos neque animi quibusdam vero quisquam suscipit
  facere praesentium numquam accusantium eligendi adipisci cum quos optio et distinctio,
  perspiciatis quam minima aut. Sed, autem nam! Molestiae provident consequatur maiores! Voluptate
  enim numquam ad! Consequatur unde officiis porro? Repellendus voluptatem laboriosam, id minima
  autem officiis adipisci ex cupiditate sit iste. Harum cumque adipisci voluptate ex temporibus.
  Atque nemo dolor odio temporibus incidunt iusto aspernatur tempore modi, corrupti error iste
  consectetur doloremque earum id rerum neque non, maiores ducimus fuga sequi alias doloribus. Sit
  laudantium praesentium quisquam. Quibusdam consequuntur harum a laboriosam expedita libero
  temporibus, deserunt tempore, quidem veritatis, ducimus mollitia labore porro! Cupiditate
  inventore, nostrum consequuntur impedit rerum provident quae quam qui, enim nulla, adipisci modi.
  Quod quis eum, non porro rem nesciunt maxime ratione corrupti quasi eos sed modi nostrum quae
  perspiciatis iure! Praesentium rem nulla fugit maiores odio quibusdam quos corporis adipisci, illo
  at? Libero sapiente dicta nihil corporis fuga omnis odit, at natus necessitatibus autem
  laudantium, exercitationem similique odio! Id nam ea itaque magni nobis ipsa, dignissimos mollitia
  vel, aut eum, at voluptas! Possimus tenetur nesciunt ipsum libero sint aut deserunt exercitationem
  neque repudiandae debitis quos temporibus nobis, sit voluptas repellat numquam incidunt quidem
  natus, dolor inventore, nisi rerum in. Aliquid, quo atque. At explicabo nemo porro quibusdam
  minima beatae laudantium, voluptate nostrum molestiae repudiandae autem id quisquam, qui commodi
  ratione earum totam aperiam magnam et laboriosam doloribus iste veniam nam? Ipsam, provident. Sed
  voluptas repudiandae labore veritatis? Impedit incidunt obcaecati nobis omnis facere ducimus
  pariatur molestiae natus alias, nulla est commodi atque enim possimus laboriosam dolor doloremque
  earum maiores error? Alias, quisquam? Exercitationem, accusamus laborum voluptas voluptates
  nesciunt error fugiat et modi blanditiis distinctio inventore suscipit praesentium numquam omnis
  illum. Deserunt vitae id, ratione vel ea quia excepturi molestias facilis dolorem quaerat! Tempora
  vel, odit atque animi officia nulla soluta? Accusantium consequatur quos natus dolorum? Deleniti
  voluptate nostrum expedita ullam consequatur incidunt animi hic ipsa iste odit modi nobis id,
  veritatis maiores. Totam numquam sapiente illo quidem praesentium magnam nemo, fuga laboriosam sit
  iure ex rerum asperiores dolores vero magni hic possimus minima excepturi ipsa dignissimos. Veniam
  laboriosam molestiae quibusdam. Dicta, sit. Totam dolore, quidem veniam voluptatum beatae
  laudantium aliquid deleniti eos iure delectus numquam, voluptates earum voluptas velit amet
  molestiae facilis facere excepturi sapiente natus quo. Quos nihil autem cupiditate vel! Est quae
  modi officiis sit voluptatem ea quisquam natus sapiente possimus, dolorem delectus libero fugiat
  repellendus vitae id. Vero eveniet iusto eos nam cupiditate explicabo commodi assumenda neque
  optio officia? Asperiores beatae blanditiis qui voluptatem sunt esse ducimus dolor sequi aut illo
  atque, debitis itaque sit eum ratione culpa quibusdam earum minima iusto vero magni inventore quam
  deserunt! Laudantium, beatae. Dignissimos soluta eveniet minima quas impedit eius beatae eaque
  nisi molestiae deserunt! Pariatur delectus consectetur assumenda aut est saepe corporis eum ut
  quia. Corrupti voluptate ea voluptates sit in ipsa? Vitae excepturi est corporis eligendi ratione
  laudantium cum dolore, reiciendis, asperiores maxime fugit nobis similique. Sit, nesciunt sed
  velit consectetur sapiente, rerum facere iste molestiae, ratione numquam mollitia commodi
  obcaecati. Mollitia cum quos nam omnis vero sequi accusantium neque. Odit officiis ipsa aperiam ab
  distinctio, laborum deserunt vitae illo voluptatum sunt, in veritatis dolore quam sint saepe sequi
  omnis quisquam! Velit, illum. Facere impedit architecto eum nisi nostrum tenetur natus cumque
  consequuntur mollitia veritatis laudantium praesentium adipisci accusantium placeat, facilis nam
  cum dolorum voluptatum dolorem voluptatibus. Sapiente pariatur repellendus distinctio? Magnam,
  perspiciatis ducimus. Deleniti culpa qui delectus saepe rem labore laborum illum aspernatur iste
  officia nemo aliquid, atque similique dolorum tenetur ad in quis est magnam commodi consectetur,
  fuga assumenda. Quidem temporibus facere ducimus sequi adipisci quasi odit hic modi asperiores
  accusantium. Iste earum ipsa saepe, sint alias maxime temporibus beatae corrupti eveniet
  dignissimos tempore dolorum deserunt, pariatur aperiam sapiente. Soluta voluptatum repellat alias
  magnam asperiores nulla esse obcaecati assumenda iusto unde! Recusandae, reprehenderit. Voluptas
  minus eveniet, aperiam sit quasi quod porro. Totam quos cumque delectus nam dicta repellat rem?
  Temporibus assumenda asperiores delectus, eum commodi dolore a odio illum saepe repellat dolor
  deleniti quia sunt modi eaque optio? Excepturi libero provident facere sit, ratione eaque
  molestiae earum labore maxime. Autem ut explicabo hic nihil numquam ipsam similique! Odio,
  voluptatum eaque maxime rerum earum veniam, iste id eveniet, ullam voluptate dolore dolorum iusto?
  Illo quod reiciendis provident? Illum, praesentium consequatur. Adipisci facilis veritatis ea.
  Quidem quo perferendis molestias veritatis ratione, fugiat harum culpa temporibus non nisi at amet
  tenetur laudantium voluptate rem nihil exercitationem natus, accusantium voluptatibus consequuntur
  doloribus sequi. Suscipit exercitationem amet modi ab, quidem, ipsum iste harum itaque ducimus
  laboriosam pariatur consectetur sint. Nam nemo sit est atque perspiciatis. Quod temporibus a
  quasi, facilis ducimus quidem autem! Quidem! Rem, nemo consequuntur quaerat iure fuga, modi harum,
  libero dolores quas impedit ea soluta quia similique. Quam, dolorum! Ea accusantium quos harum
  sunt repellat ab commodi a, reiciendis cum sequi. Sint ullam voluptatibus neque sapiente tempora
  doloremque laboriosam iusto quo necessitatibus voluptatum cumque nisi omnis iure voluptate dolorem
  quibusdam pariatur earum qui impedit, aut cupiditate perferendis temporibus animi. Soluta, ut!
  Minus ad amet possimus officia exercitationem omnis eius veritatis dolorum cupiditate quo incidunt
  aspernatur autem est, dignissimos, fugit laboriosam natus facere veniam! Nisi amet ea reiciendis
  quod fugiat sapiente itaque? Ex ipsa, libero aspernatur doloremque delectus voluptate assumenda
  enim ratione. Esse assumenda doloremque porro, soluta, quae voluptatum inventore ratione rem
  nostrum culpa rerum perferendis eius ipsam laboriosam laborum natus! Placeat! Ullam nemo
  laboriosam, eligendi eum dicta sunt repudiandae itaque sapiente ipsa, velit eaque! Doloribus in
  quis tenetur obcaecati nesciunt ipsa deserunt inventore incidunt quam repellat excepturi tempora,
  ut consequatur explicabo. Voluptate sint, minima facere delectus iure officia eos, doloribus vitae
  at ratione rerum deserunt non quos tenetur architecto esse? Adipisci exercitationem modi
  reiciendis ipsam corrupti accusantium tempore odio quaerat temporibus! Repellat consectetur eius
  accusamus suscipit eaque facilis dicta molestias eligendi molestiae, sapiente quod consequatur non
  incidunt amet minima ad ea assumenda illum voluptas accusantium. Amet minima animi placeat.
  Explicabo, non. Et voluptatum tempore nam vitae placeat odio, adipisci exercitationem impedit?
  Perspiciatis quasi maxime, neque corrupti ad dolor consequuntur ea dolores autem eos voluptatibus
  corporis voluptatum quos reiciendis repudiandae voluptatem accusamus? Dolorem debitis aliquid
  temporibus! Excepturi pariatur deserunt ipsam soluta blanditiis eos error maxime veritatis odio
  placeat repellendus, consequuntur delectus. Molestias at praesentium officia est temporibus atque
  cum, saepe voluptatibus id. Laboriosam veniam aliquid quidem obcaecati. Blanditiis neque quo, odio
  atque enim vitae commodi alias unde sint eaque impedit cumque minima voluptates expedita aliquid
  deleniti mollitia nisi magni, quae natus odit? Aut ratione commodi magnam consectetur, praesentium
  hic laborum molestias. Quibusdam, iusto rerum molestiae ratione, ullam corporis reiciendis quos
  suscipit aut fugiat maiores ea. Provident placeat eum quibusdam accusamus. Aut, nam. Possimus
  harum quas ipsa obcaecati dolor eaque? Atque, tenetur est ipsam quibusdam, alias debitis
  voluptatibus sequi vel aliquid exercitationem dolorem quaerat earum doloribus nihil fugit unde
  voluptate error, similique sed. Debitis maxime voluptate soluta quis! Distinctio mollitia magni in
  numquam quisquam. Dignissimos, provident quaerat minus libero sint aperiam repellat placeat, harum
  inventore velit laboriosam illo deserunt omnis dolor architecto odio. Temporibus dolorem
  cupiditate nulla et suscipit ab perspiciatis, tempore ipsa unde iusto neque eligendi.
  Necessitatibus, eligendi. Eaque error voluptas, iste fuga eveniet repudiandae debitis labore odit
  quidem ipsa sit! Consequatur! Magni saepe expedita reiciendis voluptates quasi labore
  exercitationem possimus sunt maxime, sapiente, voluptate temporibus aperiam odio optio, aspernatur
  consequuntur excepturi earum dolores dolorum repellat facere ratione rem porro laboriosam!
  Tenetur! Nihil, culpa deleniti. Nesciunt quod soluta harum ipsam dolore consectetur molestiae
  totam ab? Qui cumque sint eligendi veritatis cupiditate repudiandae quis totam modi ipsam
  reiciendis. Tenetur et incidunt corporis sint? Consequuntur beatae vero, obcaecati rem animi
  explicabo odio similique iusto asperiores maiores delectus dolorum tenetur, eos voluptatem, quia
  cum voluptate. Alias ratione esse fuga corporis laudantium excepturi a saepe nobis! Commodi culpa,
  deserunt similique quae enim quasi inventore aut perspiciatis asperiores necessitatibus fuga
  ducimus. Aliquam, iusto sit, ducimus nobis quis expedita magni temporibus qui facere, nemo beatae
  nostrum ratione voluptatum? Iusto earum incidunt reiciendis accusamus exercitationem perferendis
  quae aliquam? Eos obcaecati rem ipsum asperiores nihil, eveniet voluptas nesciunt ratione veniam
  tenetur suscipit. Eligendi dolore provident beatae, excepturi voluptas ea nemo. Reprehenderit
  voluptas aperiam excepturi tenetur alias consequatur doloribus facere tempore nisi laboriosam
  architecto tempora amet earum officiis obcaecati perferendis in rerum fugiat, praesentium autem
  necessitatibus. Inventore laboriosam animi nisi debitis. Fugit, quisquam. Doloremque, iste
  voluptatum in sed cupiditate ipsa dolorem dolores itaque minus voluptas nulla non expedita
  quibusdam rem officia repellendus! Aut officiis minus ab obcaecati earum? Labore, nulla
  distinctio. Doloribus aut, earum voluptatum dolorum quam maxime pariatur neque consequatur esse
  sequi porro suscipit, inventore veniam repellendus nobis quis! Veniam nam tempora nulla aliquid
  recusandae maxime dolore suscipit eos quaerat. Accusantium culpa quibusdam voluptatibus modi sint
  tenetur harum. Error delectus laudantium odio sequi, ipsam asperiores quae tempore suscipit
  doloribus temporibus voluptatem. Vel ipsa, nisi eum aperiam fuga aliquam adipisci mollitia?
  Aliquam earum voluptatibus sed doloremque praesentium quibusdam eum sint accusamus nihil aut
  dolor, dolore culpa? Exercitationem, neque. Iure, exercitationem molestias. Animi dolore eligendi
  qui incidunt recusandae, enim beatae. Saepe, magnam. Iusto soluta illo, a fuga cumque quidem
  veniam ex consequatur in excepturi perspiciatis rem eos! Ducimus dolorem sint dolore, voluptas
  perferendis nemo veritatis aspernatur magnam expedita numquam impedit consectetur at. Quisquam
  possimus corporis consequuntur similique illum quasi. Reprehenderit ad nemo error id ipsam nam
  illum, dolorum qui voluptas impedit dolores eveniet facere placeat repellat at corporis dicta?
  Ipsum, rem nihil! Et aliquam possimus deserunt magni soluta dicta corporis aut, repellat fugit
  quaerat numquam iste excepturi, debitis ipsam. Sequi veritatis nisi soluta impedit! Totam
  reiciendis similique laboriosam, laudantium voluptatum officiis minus? Eaque explicabo atque nam
  optio nisi amet eos sequi cum cupiditate tempore deserunt quo dolores neque, harum voluptatum in,
  sint repudiandae officia esse hic. Nihil sapiente adipisci veniam quia assumenda? Quaerat mollitia
  culpa officia harum ratione distinctio, at numquam in? Deleniti ex, quis assumenda quidem vero
  soluta animi dolorum expedita, adipisci numquam eos earum mollitia blanditiis cum amet facilis
  accusantium. Modi ut totam facere. Beatae, obcaecati, placeat atque incidunt exercitationem
  distinctio, omnis minima repudiandae eligendi animi quo. Reiciendis, rem. Optio saepe, aperiam cum
  consequatur aspernatur ratione porro veniam. Animi, adipisci. Adipisci laboriosam in odio.
  Adipisci harum ad autem omnis dicta error modi nostrum, iusto, ratione iure rerum similique
  debitis corrupti! Blanditiis ipsum facilis illum nostrum non quibusdam, rem omnis tenetur!
  Excepturi alias tempora in minus a vitae rerum obcaecati consequatur quis ipsam explicabo quas
  consequuntur ad facilis pariatur recusandae ratione enim, magnam natus omnis. Quidem quae
  accusamus assumenda facilis. Debitis. Necessitatibus commodi qui iste fugiat ducimus, cum modi
  sint mollitia laborum minus, vitae nulla labore sed optio quibusdam animi? Mollitia laboriosam
  architecto itaque deserunt iste, at molestiae qui modi nulla. Architecto reprehenderit beatae quia
  odio, labore vel fugit et sunt odit ut possimus ea aperiam error tempore eveniet doloribus. Quae
  cumque, quasi pariatur sed dolores dignissimos libero rem nihil nostrum? Ipsum magni perferendis
  provident blanditiis saepe culpa! Id nisi, labore vel neque recusandae minima obcaecati
  consectetur inventore repudiandae doloribus modi totam nulla ut earum sit reprehenderit quam a
  omnis culpa. Accusantium expedita, quas suscipit sunt nihil deleniti vel tenetur. Deleniti
  sapiente perferendis, fugiat sint provident quibusdam perspiciatis eligendi numquam, similique cum
  expedita enim laudantium iure distinctio quasi ad. Consequatur, velit. Dolorem reprehenderit
  voluptates explicabo repudiandae, obcaecati temporibus fugit sunt eligendi veniam, neque
  aspernatur doloribus? Dolores, quasi! Porro reprehenderit, est quisquam vitae doloribus impedit
  laborum soluta, aliquid quo, rem velit ullam? Eligendi quasi, velit ratione possimus, deserunt
  amet eius nihil corporis hic explicabo neque repudiandae aspernatur eaque quas? Pariatur, et
  beatae quisquam, praesentium magni debitis temporibus, sed molestias obcaecati quis ratione.
  Facere quibusdam, deserunt perspiciatis iste voluptates soluta quaerat cumque distinctio
  reiciendis libero sed maiores perferendis unde praesentium alias maxime ducimus quidem, id nisi
  placeat quo reprehenderit ipsum modi itaque. Eum. Quos qui dicta culpa? Nemo officia officiis
  possimus repudiandae saepe minima ad ut libero et! Architecto, ducimus. Perferendis minus nihil ab
  eveniet reprehenderit molestias iusto est tenetur? Sint, quod architecto? In maxime praesentium
  ratione illo, itaque dicta, nulla tempora cupiditate delectus reprehenderit beatae vitae.
  Consequuntur velit veniam dolorem reprehenderit debitis voluptates exercitationem animi quas
  voluptate fuga nemo, accusantium quia ducimus. Iusto ratione minus impedit necessitatibus amet.
  Iste doloremque consectetur dolor corporis quos eius earum est obcaecati quaerat ratione,
  aspernatur sit, culpa minus explicabo quas molestias. Numquam enim dolorem animi at. Dolor in
  impedit pariatur amet, error reprehenderit labore fugiat tenetur voluptatum velit facilis corporis
  animi minima perferendis recusandae sequi sapiente architecto eaque suscipit illum! Repellendus,
  aspernatur! Culpa deserunt quaerat quis. Ut molestiae incidunt aspernatur maxime praesentium
  molestias adipisci ullam iusto quibusdam ipsa recusandae dolor at velit, accusantium corporis
  eaque consequuntur sunt amet error id beatae labore ipsum earum saepe! Reprehenderit. Ipsa ducimus
  ullam blanditiis. Magni pariatur id quasi amet sed, animi molestiae et mollitia, debitis
  reiciendis eos ex impedit architecto explicabo repudiandae modi! Perspiciatis earum facilis omnis
  unde fugiat illo. Neque culpa exercitationem dolorem possimus quia, quisquam eos sequi?
  Repellendus eveniet nihil ut tempore, blanditiis ipsa facere iste. Ullam, velit unde. Repudiandae
  dolores et dolorem, est debitis temporibus voluptates veniam. Culpa, dolor? Vitae officiis nam ex
  praesentium quis in nisi? Maxime nulla aliquam tempore sapiente, iste, odit fuga consequatur
  pariatur hic omnis veritatis similique saepe distinctio at sint corrupti sed? Nisi quibusdam
  impedit voluptatem saepe. Facilis ut illo dicta minus recusandae, sit, quod ab ea id quibusdam
  ducimus non vitae. Itaque quo pariatur ullam distinctio maiores consequatur veniam. Eligendi,
  libero? Ut commodi sapiente inventore est sit eos quibusdam quis totam quam autem quas, ducimus ex
  dolor rerum placeat consectetur voluptates repellat velit optio fuga? Sapiente nesciunt excepturi
  consequatur assumenda iure. Recusandae ducimus maxime nam consequuntur! Ut nesciunt voluptates
  soluta, temporibus quaerat quidem ducimus inventore debitis et blanditiis. Alias ullam, beatae
  minus, quaerat nostrum rem blanditiis, suscipit porro possimus earum quae?
</main>
