<article
  class="flex flex-col rounded-4xl pb-2 text-primary-text overflow-hidden bg-project-card-bg relative shadow-project-card animate-range-[entry_0%_cover_25%] timeline-view hover:scale-105 hover:z-30 hover:-translate-y-2 active:scale-105 active:z-30 active:-translate-y-2 transition-transform {{
    animateSide()
  }}"
>
  <a [href]="project().url" target="_blank" class="relative">
    <img
      ngSrc="{{ apiUrl }}{{ project().previewImage }}"
      priority
      width="1200"
      height="750"
      alt="Imágen de vista previa para {{ project().title }}"
      class="aspect-auto h-auto"
    />
    <div
      class="to-project-card-bg absolute bottom-0 left-0 h-full w-full bg-linear-to-b from-transparent transition-colors hover:bg-black/20 active:bg-black/20"
    ></div>
  </a>
  <h4
    class="hover:text-about-me-links active:text-about-me-links my-2 mt-3 px-4 text-xl font-bold transition-colors xl:text-2xl"
  >
    <a [href]="project().url" target="_blank">{{ project().title }}</a>
  </h4>
  @if (project().github) {
    <a
      [href]="project().github"
      target="_blank"
      rel="noopener noreferrer"
      class="group hover:shadow-project-card-hover active:shadow-project-card-hover mx-4 mb-3 flex w-fit items-center gap-2 rounded-full border-zinc-800 bg-zinc-950 px-2 py-2 text-zinc-400 shadow-[2px_3px_5px_black,3px_4px_15px_-10px_#52525c_inset] transition-all duration-300 hover:scale-105 hover:border-zinc-900 hover:bg-zinc-900 hover:text-white active:scale-95 active:border-zinc-900 active:bg-zinc-900"
    >
      <span class="transition-transform group-hover:rotate-12">
        <app-icons name="github"></app-icons>
      </span>
      <span class="text-xs font-medium">Repositorio</span>
    </a>
  }
  <p class="text-project-card-description px-4 text-sm font-light text-pretty">
    {{ project().description }}
  </p>
  <div class="mx-auto my-4 h-px w-[95%] rounded-full bg-[light-dark(black,white)]/55"></div>
  <ul class="mb-2 flex flex-wrap gap-2 px-4">
    @for (technology of project().technologies; track technology) {
      <li [class]="technologyClass(technology.toLowerCase())">
        {{ technology }}
      </li>
    }
  </ul>
</article>
