<app-section-container id="contact" className="my-14 pt-14" [title]="sectionTitle">
  <p
    class="[&>a]:text-about-me-links [&>a]:hover:text-about-me-links/70 text-primary-text text-center"
  >
    Enviame un mensaje al
    <a
      href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=valentin.domtapia@gmail.com"
      title="Correo: valentin.domtapia@gmail.com"
      target="_blank"
      >mail</a
    >
    o escribime a
    <a href="https://wa.me/5492804389265" title="Num: +54 9 280 438-9265" target="_blank"
      >WhatsApp</a
    >
  </p>
</app-section-container>
