<article class="text-sm mt-15 [&>p]:my-[1lh] text-pretty">
  <p>
    Hola! Soy Valentín, hago desarrollo web tanto frontend como backend. Soy una persona empeñada en
    aprender y mejorar continuamente, siendo lo autodidacta algo resaltable en mi. Puedo ser muy
    adaptable a la frustración buscando distintos caminos tanto que ya conozco como nuevos, por lo
    que me gusta mucho enfrentarme a nuevos desafios para probarme y seguir mejorando. Puedo decir
    que esa es una de mis fortalezas, que no me gusta rendirme fácil, prefiero afrontar y terminar
    con el problema de una vez pero conociendo bien mis límites.
  </p>
  <p>
    Me desempeño bastante bien con lo que viene a ser el entorno de Node.JS, tanto en JavaScript
    como en TypeScript, aunque prefiero más el último para desarrollar las aplicaciones. Aplicado
    tanto en el front como en el back. Suelo utilizar frameworks basados en TypeScript, como
    <a
      href="http://astro.build"
      class="text-blue-500 hover:underline hover:underline-offset-3"
      target="_blank"
      rel="noopener noreferrer"
      >AstroJS</a
    >, siendo mi favorito y más usado, con el que más conocimientos tengo; u otros que estoy todavía
    aprendiendo, como
    <a
      href="http://nextjs.org"
      class="text-blue-500 hover:underline hover:underline-offset-3"
      target="_blank"
      rel="noopener noreferrer"
      >Next.js</a
    >
    y
    <a
      href="http://angular.dev"
      class="text-blue-500 hover:underline hover:underline-offset-3"
      target="_blank"
      rel="noopener noreferrer"
      >Angular</a
    >
  </p>
  <p>
    Puedo destacar mi eficiencia a la hora de escribir código sin necesidad de utilizar la IA,
    siguiendo una escritura limpia y sin tanto enriedo, pudiendo ir desde una estructura básica y
    sencilla hasta algo más escalable, priorizando la eficiencia para dejar el retoque de detalles
    más tarde; siendo esa otra fortaleza, la adaptación a las necesidades en tiempo y forma, aunque
    todavia mejorable no está mal. En cuanto al diseño del código me veo muy capaz, pero entrando un
    poco en mis debilidades, el diseño de interfaces no se me da muy bien, puedo pasar lo que me des
    a código, pero diseñar desde cero una interfaz de usuario medianamente buena por mi cuenta, más
    sin ideas claras me cuesta más.
  </p>
</article>
