<section
  class="py-40 2xl:py-75"
  id="about"
>
  <div>
    <h1 class="text-7xl 2xl:text-8xl xl:my-7 text-green-50 flex flex-col [&>span]:max-w-fit">
      <span class="name">Valentín</span>
      <span id="first-surname">Domínguez</span>
      <span id="sec-surname">Tapia</span>
    </h1>
    <h2
      class="text-4xl 2xl:text-5xl font-light text-green-400/75 my-2 [&>span]:font-extrabold [&>span]:text-green-400"
    >
      Web <span>backend</span> and <span>frontend</span> developer
    </h2>
  </div>
</section>
