<section class="pt-40 2xl:pt-75 animate-blurred-fade-in" id="about">
  <div class="relative">
    <div class="font-[Google_Sans_Code]">
      <h1 class="text-5xl lg:text-7xl xl:text-8xl xl:my-7 text-green-50 flex flex-col">
        <span>{{ translatedAbout.name }}</span>
        <span>{{ translatedAbout.surname }}</span>
      </h1>
      <h2
        class="text-2xl lg:text-4xl xl:text-5xl font-light text-green-400/75 my-2 [&>span]:font-extrabold [&>span]:text-green-400"
      >
        {{ translatedAbout.position }}
      </h2>
    </div>
    <app-social-media-section></app-social-media-section>
  </div>
  <article class="text-sm mt-15 [&>p]:my-[1lh] [&>p>a]:text-blue-500 text-pretty">
    <markdown [data]="translatedAbout.content"></markdown>
  </article>
</section>
