<article class="flex flex-col rounded-4xl pb-2 overflow-hidden bg-black relative">
  <a href="{{ url() }}" target="_blank" class="relative">
    <img
      src="{{ previewImage() }}"
      alt="{{ title() }}"
      loading="lazy"
      class="aspect-video h-auto"
    />
    <div
      class="absolute bottom-0 left-0 w-full h-[60%] bg-linear-to-b from-transparent to-black"
    ></div>
  </a>
  <h4 class="text-3xl px-4 my-2 font-bold">
    <a href="{{ url() }}" target="_blank">{{ title() }}</a>
  </h4>
  <p class="px-4 text-sm font-light text-gray-300 text-pretty">{{ description() }}</p>
  <div class="h-0.5 w-[95%] mx-auto bg-white rounded-full my-4"></div>
  <h5 class="text-2xl px-4 mb-1">Used technologies</h5>
  <ul class="flex gap-4 px-4 mb-2 flex-wrap">
    @for (technology of technologies(); track technologies()) {
      <li>{{ technology }}</li>
    }
  </ul>
</article>
