<ul class="flex flex-col">
  @for (experience of experiences(); track experience.id) {
    <li
      class="text-primary-text relative -mx-5 py-4 pl-8 xl:mx-64 xl:px-14"
      id="{{ doUnionLine($index) }}"
    >
      <div class="flex flex-col gap-1">
        <h5 class="text-md font-bold tracking-normal xl:text-xl xl:tracking-wide">
          {{ experience.jobName }}
        </h5>
        <span class="xl:text-md text-experience-date text-[14px] font-light">{{
          experience.date
        }}</span>
        <p class="text-xs font-medium tracking-wide text-pretty">{{ experience.jobPosition }}</p>
      </div>
    </li>
  }
</ul>
