@keyframes glow {
  0% {
    box-shadow: 0px 0px 20px 6px violet;
  }
  50% {
    box-shadow: 0px 0px 20px 8px violet;
  }
  100% {
    box-shadow: 0px 0px 20px 6px violet;
  }
}

li::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: solid 2px light-dark(hsl(240, 2%, 8%), white);
  background-color: light-dark(rgb(255, 186, 255), rebeccapurple);
}

#first::after {
  box-shadow: 0px 0px 20px 8px light-dark(rebeccapurple, violet);
  animation: glow linear 3s alternate-reverse infinite forwards;
}

#first::before {
  content: '';
  position: absolute;
  top: calc(50% + 15px);
  left: calc(0% + 6.5px);
  width: 2px;
  height: calc(50% + 1px);
  background-color: light-dark(hsl(240, 2%, 8%), white);
}
#middle::before {
  content: '';
  position: absolute;
  left: calc(0% + 6.5px);
  width: 2px;
  height: 100%;
  background-color: light-dark(hsl(240, 2%, 8%), white);
}
#last::before {
  content: '';
  position: absolute;
  bottom: 50%;
  left: calc(0% + 6.5px);
  width: 2px;
  height: 50%;
  background-color: light-dark(hsl(240, 2%, 8%), white);
}
