/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'tailwind-animations';

.comfortaa-gfont {
  font-family: 'Comfortaa', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.google-sans-code-font {
  font-family: 'Google Sans Code', monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: 'MONO' 1;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  min-height: 100dvh;
  z-index: -1;
  background:
    radial-gradient(ellipse 80% 60% at 50% 0%, rgba(65, 5, 72, 1), transparent 70%),
    linear-gradient(#000000c6 89%, transparent 100%),
    linear-gradient(85deg, #1e0224 0%, rgba(65, 5, 72, 1) 50%, #490358 100%) no-repeat center center
      fixed;
  background-size: cover;
}
