/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'tailwind-animations';

:root {
  /* Light theme color */
  --header-shadow-color-light: rgb(99, 48, 84);
  --header-links-and-options-bg-color-light: hsl(293, 82%, 83%);
  --header-links-and-options-fg-color-light: rgb(25, 25, 25);
  --name-color-light: rgb(14, 20, 8);
  --about-me-color-light: hsl(293, 87%, 6%);

  /* Dark theme color */
  --header-shadow-color-dark: rgba(218, 133, 192, 1);
  --header-links-and-options-bg-color-dark: hsl(293, 87%, 6%);
  --header-links-and-options-fg-color-dark: white;

  --header-shadow:
    2px 3px 20px black,
    3px 4px 15px -10px light-dark(var(--header-shadow-color-light), var(--header-shadow-color-dark))
      inset;
}

* {
  scrollbar-color: hsl(289, 95%, 41%) rgb(96, 18, 105);
  scrollbar-width: 4px;
}

.comfortaa-gfont {
  font-family: 'Comfortaa', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.google-sans-code-font {
  font-family: 'Google Sans Code', monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: 'MONO' 1;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  min-height: 100dvh;
  z-index: -1;
  background:
    radial-gradient(
      ellipse 80% 60% at 50% 0%,
      light-dark(rgb(192, 106, 202), rgba(65, 5, 72, 1)),
      transparent 70%
    ),
    linear-gradient(
      light-dark(hsl(278, 100%, 95%), hsla(0, 0%, 0%, 0.7764705882352941)) 89%,
      transparent 100%
    ),
    linear-gradient(
        85deg,
        light-dark(hsl(289, 89%, 81%), hsl(289, 89%, 7%)) 0%,
        light-dark(rgb(192, 106, 202), rgba(65, 5, 72, 1)) 50%,
        light-dark(hsl(289, 93%, 78%), hsl(289, 93%, 18%)) 100%
      )
      no-repeat center center fixed;
  background-size: cover;
}

@theme {
  /** Colors */
  --color-primary-text: light-dark(var(--about-me-color-light), white);
  --color-bg-links-header: light-dark(
    var(--header-links-and-options-bg-color-light),
    var(--header-links-and-options-bg-color-dark)
  );
  --color-fg-links-header: light-dark(
    var(--header-links-and-options-fg-color-light),
    var(--header-links-and-options-fg-color-dark)
  );
  --color-header-and-footer: light-dark(white, black);
  --color-name: light-dark(var(--name-color-light), var(--color-green-50));
  --color-job-position: light-dark(var(--color-green-900), var(--color-green-400));
  --color-about-me-links: light-dark(var(--color-blue-900), var(--color-blue-500));
  --color-experience-date: light-dark(var(--color-taupe-800), var(--color-gray-300));

  /* Project card colors */
  --color-project-card-bg: light-dark(hsl(231, 45%, 90%), hsl(231, 27%, 10%));
  --color-project-card-description: light-dark(var(--color-taupe-800), var(--color-gray-300));

  /* Technologies badges */
  --color-html-bg: light-dark(hsl(21 76% 82%), hsla(18, 87%, 55%, 10%));
  --color-html-fg: light-dark(hsl(24 58% 31%), hsl(18, 87%, 70%));
  --color-css-bg: light-dark(hsl(271 47% 84%), hsla(270, 50%, 40%, 10%));
  --color-css-fg: light-dark(hsl(277 29% 44%), hsl(270, 50%, 70%));
  --color-typescript-bg: light-dark(hsla(212, 87%, 58%, 42%), hsla(212, 87%, 58%, 10%));
  --color-typescript-fg: light-dark(hsl(212, 87%, 30%), hsl(212, 87%, 70%));
  --color-ejs-bg: light-dark(hsl(48 72% 83%), hsla(60, 52%, 49%, 10%));
  --color-ejs-fg: light-dark(hsl(49 44% 40%), hsl(60, 52%, 70%));
  --color-mongodb-bg: light-dark(hsl(127 35% 73%), hsla(121, 37%, 45%, 10%));
  --color-mongodb-fg: light-dark(hsl(122 21% 35%), hsl(121, 37%, 70%));
  --color-git-bg: light-dark(hsl(19 20% 78%), hsla(14, 91%, 54%, 10%));
  --color-git-fg: light-dark(hsl(17 18% 40%), hsl(14, 91%, 70%));
  --color-expressjs-bg: light-dark(hsl(223 10% 78%), var(--color-gray-900));
  --color-expressjs-fg: light-dark(var(--color-taupe-800), var(--color-gray-200));
  --color-nodejs-bg: light-dark(hsl(91 35% 76%), hsla(122, 39%, 49%, 10%));
  --color-nodejs-fg: light-dark(hsl(106 30% 30%), hsl(122, 39%, 70%));
  --color-astrojs-bg: light-dark(hsla(324, 75%, 56%, 75%), hsla(324, 75%, 56%, 10%));
  --color-astrojs-fg: light-dark(hsl(324, 75%, 80%), hsl(324, 75%, 70%));

  /** Shadows */
  --shadow-header:
    2px 3px 20px black,
    3px 4px 15px -10px light-dark(var(--header-shadow-color-light), var(--header-shadow-color-dark))
      inset;
  --shadow-header-links:
    4px 6px 20px -10px light-dark(hsl(281, 13%, 26%), black),
    2px 4px 15px -10px light-dark(#141414, #cdcdcddf) inset;
  --shadow-project-card: 0 0 16px light-dark(hsl(281, 13%, 26%), #121212);
  --shadow-project-card-hover:
    2px 3px 20px light-dark(hsl(281, 13%, 26%), black),
    3px 4px 15px -10px light-dark(#121212, #52525c) inset;

  /** Rounded */
  --radius-header-links: 20px;
}
