/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import 'tailwind-animations';

:root {
  /* Light theme color */
  --header-shadow-color-light: rgb(99, 48, 84);
  --header-links-and-options-bg-color-light: #f1c6f7;

  /* Dark theme color */
  --header-shadow-color-dark: rgba(218, 133, 192, 1);
  --header-links-and-options-bg-color-dark: #19021c;

  --header-shadow:
    2px 3px 20px black,
    3px 4px 15px -10px light-dark(var(--header-shadow-color-light), var(--header-shadow-color-dark))
      inset;
}

* {
  scrollbar-color: #a705cb rgb(96, 18, 105);
  scrollbar-width: 4px;
}

.comfortaa-gfont {
  font-family: 'Comfortaa', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.google-sans-code-font {
  font-family: 'Google Sans Code', monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: 'MONO' 1;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  min-height: 100dvh;
  z-index: -1;
  background:
    radial-gradient(ellipse 80% 60% at 50% 0%, rgba(65, 5, 72, 1), transparent 70%),
    linear-gradient(#000000c6 89%, transparent 100%),
    linear-gradient(85deg, #1e0224 0%, rgba(65, 5, 72, 1) 50%, #490358 100%) no-repeat center center
      fixed;
  background-size: cover;
}

select,
::picker(select) {
  appearance: base-select;
}
